:root {
  --px-app-nav-background-color: #e2e8ed;
  --px-app-nav-item-background-color: #e2e8ed;
  --px-app-nav-item-text-color: #2c404c;

  // --px-app-nav-item-background-color--collapsed: shell;
  // --px-app-nav-item-background-color--empty: shell;
  --px-app-nav-item-background-color--hover: #c5d1d8;

  // --px-app-nav-item-background-color--pressed: shell;
  // --px-app-nav-item-background-color--selected: #00f;

  // --px-app-nav-item-icon-color--collapsed: shell;
  // --px-app-nav-item-icon-color--hover: shell;
  // --px-app-nav-item-icon-color--pressed: shell;
  // --px-app-nav-item-icon-color--selected: shell;
  // --px-app-nav-item-icon-color: shell;

  // --px-app-nav-item-stripe-color--selected: shell;

  // --px-app-nav-item-text-color--collapsed: shell;
  --px-app-nav-item-text-color--hover: #2c404c;

  // --px-app-nav-item-text-color--pressed: shell;
  // --px-app-nav-item-text-color--selected: shell;

  // --px-app-nav-subitem-background-color--hover: red;

  // --px-app-nav-subitem-background-color--selected: #00f;

  // --px-app-nav-subitem-background-color: red;
  --px-app-nav-subitem-text-color--collapsed: #2c404c;

  // --px-app-nav-subitem-text-color--hover: #2c404c;
  // --px-app-nav-subitem-text-color--selected:#2c404c;

  // --px-app-nav-subitem-text-color: #ccc;

  --px-app-nav-subitem-background-color--collapsed: #e2e8ed;
  --px-app-nav-subitem-background-color--collapsed-hover: #c5d1d8;

  // --px-app-nav-subitem-text-color--parent-collapsed-selected: shell;
  --px-app-nav-subitem-background-color--parent-collapsed-selected: #00f;

  // --px-app-nav-subitem-accent-color--parent-collapsed-selected: shell;

  --px-app-nav-subitem-background-color--parent-collapsed-hover: #c5d1d8;

  // --px-app-nav-subitem-background-color--parent-collapsed-selected: shell;

  // --px-app-nav-subitem-text-color--parent-collapsed-selected: shell;
  // --px-app-nav-subitem-text-color--parent-collapsed-not-selected: shell;

  // --px-app-nav-subitem-background-color--parent-collapsed-not-selected: shell;
}

:host {
  min-width: var(--px-app-nav-vertical-width, 4rem);
  z-index: 1;
  min-height: 100vh;
  height: 100%;
}
