<px-alert-message type="important" message-title="Heads up!" message="Important: This definitely needs our attention." action="dismiss"
  auto-dismiss="5000" language="en">
</px-alert-message>

<px-alert-message type="information" message-title="Heads up!" message="Acknowledge Info: This definitely needs our attention."
  action="acknowledge" auto-dismiss="8000" language="en">
</px-alert-message>

<px-alert-message type="error" action="https://www.predix.io/" message-title="Our Bad!" message="You could not complete a difficult task."
  auto-dismiss="0">
</px-alert-message>
