/* You can add global styles to this file, and also import other style files */
/* Settings */
@import "px-colors-design/_settings.colors.scss";

/* Tools */

/* Generic */
@import "px-normalize-design/_generic.normalize.scss";
@import "px-box-sizing-design/_generic.box-sizing.scss";
@import "px-helpers-design/_generic.helpers.scss";

/* Base */
@import "px-flexbox-design/_base.flexbox.scss";

@import "px-viewport-design/_base.viewport.scss";

/* Meta */

/* Objects */

/* Component */
/* Your css goes in here */

.viewport-100vh {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1 1 0.000009%;
  width: 100%;
  min-height: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Trumps */
@import "px-spacing-responsive-design/_trumps.spacing-responsive.scss";
@import "px-widths-responsive-design/_trumps.widths-responsive.scss";
