/* You can add global styles to this file, and also import other style files */
/* Settings */
@import "px-colors-design/_settings.colors.scss";

/* Tools */

/* Generic */
@import "px-normalize-design/_generic.normalize.scss";
@import "px-box-sizing-design/_generic.box-sizing.scss";
@import "px-helpers-design/_generic.helpers.scss";

/* Base */
@import "px-flexbox-design/_base.flexbox.scss";

@import "px-viewport-design/_base.viewport.scss";

/* Meta */

/* Objects */

/* Component */
/* Your css goes in here */

.viewport-100vh {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
}

.flex--grow {
  flex: 1 1 0.000009%;
}

.demo-area {
  background: repeating-radial-gradient(circle, rgba(0, 0, 0, 0.1) 0px, transparent 1px, transparent 20px);
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
}

/* Trumps */
@import "px-spacing-responsive-design/_trumps.spacing-responsive.scss";
@import "px-widths-responsive-design/_trumps.widths-responsive.scss";
